@import "../../styles/common.scss";

@keyframes bkg-in {
  from {
    filter: opacity(0.3);
  }

  to {
    filter: opacity(1);
  }
}

@keyframes title-row-in {
  from {
    filter: opacity(0);
    transform: translateY(-50%);
  }

  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

@keyframes form-login-in {
  from {
    filter: opacity(0);
    transform: translateY(5%);
  }

  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.main {
  width: 100vw;
  height: 100vh;
}

@mixin flexTitleRowWrapperCommon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.08) 100%
  );

  animation-name: title-row-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
}

@mixin divLoginWrapperCommon {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  animation-name: bkg-in;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}

@mixin divLoginWrapperBkgCommon($src) {
  background: {
    image: url($src);
    size: cover;
    position: center;
    repeat: no-repeat;
    attachment: fixed;
  }
}

@mixin formLoginCommon {
  width: min(475px, 90vw);
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;

  padding-bottom: 20px;

  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.5);

  animation-name: form-login-in;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;

  button[class~="btn-login"] {
    width: 100%;
  }

  div[class~="form-item-remember"] {
    div[class~="ant-form-item-control-input"] {
      min-height: unset;
    }
  }
}

@mixin divTitleCommon($font-size) {
  font-size: $font-size;
  color: #fff;

  text-align: center;

  @include ma-shan-zheng-regular;
}

@media (width>700px) {
  .divTitle {
    @include divTitleCommon(36px);
  }

  .formLogin {
    @include formLoginCommon;
    padding: 50px;
  }
}

@media (width<=700px) {
  .divTitle {
    @include divTitleCommon(28px);
  }

  .formLogin {
    @include formLoginCommon;
    padding: 30px;

    div[class~="ant-form-item"] {
      margin-bottom: 12px;
    }
  }
}

.flexTitleRowWrapperH {
  @include flexTitleRowWrapperCommon;
  padding: 0 100px 0 30px;
}

.flexTitleRowWrapperV {
  @include flexTitleRowWrapperCommon;
  padding: 0;
  justify-content: center;
}

.divLoginWrapperH {
  @include divLoginWrapperCommon;
  justify-content: flex-end;
}

.divLoginWrapperV {
  @include divLoginWrapperCommon;
  justify-content: center;
}

.formLoginH {
  margin-right: 100px;
}

.divLoginWrapperBkgH {
  @include divLoginWrapperBkgCommon("/bkg-h.jpg");
}

.divLoginWrapperBkgV {
  @include divLoginWrapperBkgCommon("/bkg-v.jpg");
}
