@import "../../../styles/common.scss";

.flexInfoWrapper {
  font-size: 18px;
  white-space: pre-wrap;
  word-break: break-all;

  @include noto-serif-sc;

  div[class="name"] {
    @include ma-shan-zheng-regular;

    font-size: 36px;
  }

  div[class="class-id"] {
    span[class~="class-name"] {
      cursor: pointer;
    }
  }

  div[class="location"] {
    display: flex;
    align-items: center;
    line-height: 18px;

    img[class="img-location"] {
      width: 1.3em;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  div[class="contact"] {
    font-size: 15px;
    line-height: 22px;
  }

  div[class="sentence"] {
    font-size: 15px;
    line-height: 22px;

    max-height: 40vh;
    overflow-y: auto;

    @include orange-scroll-bar;
  }
}
