@mixin ma-shan-zheng-regular {
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  font-style: normal;
}

@mixin noto-serif-sc {
  font-family: "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin colored-scroll-bar(
  $thumb: #919191,
  $thumb-hover: #a0a0a0,
  $thumb-active: #afafaf,
  $track: #dcdcdc
) {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: $thumb-active;
  }

  &::-webkit-scrollbar-track {
    background-color: $track;
  }
}
