@import "../../../styles/common.scss";

.modal {
  div[class~="ant-modal-header"] {
    background-color: transparent;

    div[class~="ant-modal-title"] {
      text-align: center;
      font-size: 20px;
      @include ma-shan-zheng-regular;
    }
  }

  div[class~="flower-modal-content-wrapper"] {
    padding-top: 10px;
  }
}

.flexSendWordsWrapper {
  max-height: 70vh;
  overflow-y: auto;

  @include noto-serif-sc;

  @include orange-scroll-bar;

  div[class="hint"] {
    margin-top: 6px;
    font-size: 13px;
    color: #7b7b7b;
  }
}

.collapse {
  white-space: pre-wrap;
  word-break: break-all;

  div[class~="ant-collapse-header"] {
    align-items: center !important;
  }

  div[class~="ant-collapse-content"] {
    background-color: transparent;
  }

  div[class="name"] {
    @include ma-shan-zheng-regular;

    font-size: 20px;
    line-height: 24px;
  }

  div[class="send-word"] {
    @include noto-serif-sc;

    font-size: 16px;
    line-height: 24px;
  }
}
