.main {
  width: 100vw;
  height: 100vh;
}

.divMapWrapper {
  width: 100%;
  height: 100%;
}

.flexFloatingButtonsWrapper {
  position: fixed;
  top: 15px;
  right: 15px;

  z-index: 999;

  button[class~="ant-btn"] {
    box-shadow: 0px 3px 5px 0px #b8b8b8;

    &:hover {
      border-color: #d9d9d9 !important;
    }

    &:active {
      border-color: #d9d9d9 !important;
    }
  }

  span[class~="icon-sound-mute"] {
    width: 1em;
  }
}

.btnName {
  padding: 0;
}

.cardInfoOpWrapper {
  div[class="ant-card-body"] {
    padding: 10px;
  }

  button[class~="ant-btn"] {
    padding: 0;
  }
}

.formInfo {
  margin-top: 10px;

  button[class~="btn-bottom"] {
    width: 30%;
  }

  div[class~="form-item-city"] {
    margin-bottom: 6px;
  }

  div[class~="form-item-please-select-coord"] {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 3px;

    button[class~="btn-why-cannot-search"] {
      display: inline;
      font-weight: bold;
      height: fit-content;
    }
  }
}

.flexClassItem {
  div[class="class-desc"] {
    font-size: 12px;
    line-height: 15px;
    color: #555;
    white-space: pre-wrap;
  }
}

.listSearchResult {
  overflow: hidden;

  div[class="ant-list-header"] {
    padding: 6px 16px;
  }

  li[class="ant-list-item"] {
    user-select: none;

    cursor: pointer;

    transition-duration: 250ms;

    white-space: pre-wrap;

    padding: 6px 16px;

    &:hover {
      background-color: #e8f2ff;
    }

    div[class="name"] {
      font-weight: bold;
    }

    button[class~="info"] {
      padding: 0;
      height: fit-content;
    }
  }
}
